* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  /* height: 30px; */
  & span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    text-align: center;
    border: 1px solid;
    opacity: 0.35;
  }
  & span:hover {
    opacity: 1;
    cursor: pointer;
  }
  & :nth-child(1) {
    background-color: red;
  }
  & :nth-child(2) {
    background-color: blue;
  }
  & :nth-child(3) {
    background-color: green;
  }
}
